/* ========================================= barra superior */

body {
    background-color: #F0F0E9;
    margin: 0;
}

header {
    background-color: #161616;
}

#topRow {
    padding: 2% 3%;
    display: flex;
    justify-content: space-between;
}

.menu>a {
    font-family: "Epilogue", sans-serif;
    font-weight: 500;
    font-size: clamp(16px, 2vw, 24px);
    /*valor minimo, xx, valor máximo*/
    text-decoration: none;
    color: #F0F0E9;
    line-height: 1, 5rem;
}

.menu {
    text-align: end;
    display: grid;
}

#meuNome {
    /* width: 17%; */
    min-width: 150;
    text-align: end;
    color: #F0F0E9;
}

#meuNome>p {
    font-size: clamp(16px, 2vw, 24px);

}

p {
    font-family: "Epilogue", sans-serif;
}


/* ========================================= @Design e multimedia */

#topDM {
    display: flex;
    justify-content: center;
    text-align: center;
}

