header {
    background-color: #161616;
}

.menu>a {
    color: #F0F0E9;
}

#meuNome {
    color: #F0F0E9;
}
/* ========================================= Home page */
#tituloInicial>h1 {
    margin: 0;
  /*  font-family: "IndernikGold", sans-serif;
    font-size: clamp(2rem, 10vw, 150px); */
    color: #F0F0E9;
}

#tituloInicial>p {
    font-size: clamp(1rem, 5vw, 16px);
    color: #F0F0E9;
}

#tituloInicial {
    padding-bottom: clamp(50px, 4vw, 100px);
}

/* ========================================= imagens iniciais tamanhos*/
#ccdm img {
    width: 25%;
}
#ccdm_mouse img {
    width: 5%;
}

#typher img {
    width: 25%;
}
#typher_mouse img {
    width: 5%;
}

#nw img {
    width: 25%;
}
#nw_mouse img {
    width: 5%;
}


/* ========================================= grid */

#grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 8px;
}

#ccdm {
   grid-column: span 4 / span 5;
   display: flex;
   flex-wrap: wrap;
}
#ccdm p {
    grid-column: span 5 / span 5;
    grid-row-start: 2;
}

#typher {
    grid-column: span 5 / span 5;
    grid-row-start: 3;
}
#typher p {
    grid-column: span 5 / span 5;
    grid-row-start: 4;
}

#nw {
    grid-column: span 5 / span 5;
    grid-row-start: 5;
}
#nw p {
    grid-column: span 5 / span 5;
    grid-row-start: 6;
}

/* ===================  */



/* =================== Conteudo */

