/* ========================================= Home page */
#tituloInicial>h1 {
    margin: 0;
    font-family: "IndernikGold", sans-serif;
    font-size: clamp(2rem, 10vw, 150px);
    color: #F0F0E9;
    text-align: center;
}

#tituloInicial>p {
    font-size: clamp(1rem, 5vw, 16px);
    color: #F0F0E9;
    text-align: center;
}

#tituloInicial {
    padding-bottom: clamp(50px, 4vw, 100px);
}

#moveBar {
    display: flex;
    justify-content: space-evenly;
    margin: 0;
}

#moveBar>p {
    margin: 0;
    color: #F0F0E9;
}

/* ========================================= Trabalhos */

/* =================== Slider */

.slider {
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    gap: 20px;
    padding-left: 5%;
    padding-right: 5%;
}


/* Remove barra de rolagem no Chrome/Safari */
.slider::-webkit-scrollbar {
    display: none;
}

/* Remove barra de rolagem no Firefox */
.slider {
    scrollbar-width: none;
}

.slider img {
    flex: 0 0 auto;
    height: 500px;
    border-radius: 10px;
    scroll-snap-align: center;
    /* centraliza a foto ao parar */
    object-fit: cover;
}

/* =================== Titulo */


.titulo-bloco {
  display: flex;
  align-items: center;
  gap: 15px;
  margin: 30px 5% 10px; /* espaço em relação ao slider */
}

.titulo-bloco svg {
  width: 40px;
  height: 40px;
  flex-shrink: 0;
  color: #333; /* podes mudar a cor */
}

.titulo-bloco h2 {
  margin: 0;
  font-size: 1.8rem;
  font-weight: bold;
  color: #161616;
}

.titulo-bloco .subtitulo {
  margin: 0;
  font-size: 1rem;
  color:#161616;
}


/* =================== Conteudo */


/* Conteúdo em grid (templates já usam classes tipo grid-cols-2 ou 3) */
.grid {
  margin: 20px 5%;
  display: grid;
  gap: 20px;
  color: #161616;
}




