.menu>a {
    color: #161616;
}

#meuNome {
    color: #161616;
}


/* ========================================= Inicio */
#inicio {
    display: grid;
    grid-template-columns: repeat(5, 20%);
    grid-template-rows: repeat(6, 16.66%);
    gap: 10px;
}

/* =================== imagens */
.imagem {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}


#inicio>.imagem:nth-child(1) {
    grid-column: 2 / 4; /* ocupa colunas 2 e 3 */
    grid-row: 1 / 3; /* ocupa linhas 1 e 2 */
    position: relative;
    top: -10%;
}

#inicio>.imagem:nth-child(2) {
    grid-column: 1 / 3;
    grid-row: 2 / 4;
    position: relative;
    left: -25%;
}

#inicio>.imagem:nth-child(3) {
    grid-column: 5;
    grid-row: 3 / 5;
    width: 180%;
    position: relative;
    top: -40%;
}

#inicio>.imagem:nth-child(4) {
    grid-column: 5;
    grid-row: 4 / 6;
    width: 180%;
    position: relative;
    top: 80%;
    right: 20%;
}

/* =================== texto inicial */
/* =================== cores */
/* =================== tipografia */